@model poller.Models.Answer

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Answer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AnswerString)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnswerString)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PollID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PollID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Votes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Votes)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.AnswerID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
